@import "tailwindcss";


body {
    font-family: "Poppins";
    font-weight: 500;
    /* background-color: rgb(244,244,250); */
}

.custom_shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.login_bg{
    background-color: rgb(244,244,250);
}
.announcement_bg{
    background-color: rgb(244,244,250);
}